<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEALTHCARE SYSTEM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 class="text-center">ADD PATIENT</h1>
<form th:action="@{/add-patient}" method="post" class="text-center" th:object="${person}">

    <input type="hidden" name="id" th:field="*{id}">

    <div>
        <label> Patient Name : <input type="text" name="fullName" placeholder="Enter Full Name" required="true"
                                      autofocus="true" autocomplete="off" class="input-group" th:field="*{fullName}"/> </label>
    </div>

    <div>
        <label> Patient Age : <input type="number" min="0" name="age" placeholder="Enter Age" required="true"
                                     class="input-group" autocomplete="off" th:field="*{age}"/>
        </label>
    </div>

    <div>
        <label> Patient Mobile Number :
            <input
                    type="tel"
                    maxlength="10" minlength="10"
                    name="mobile" placeholder="Enter Mobile Number"
                    required="true" class="input-group"
                    autocomplete="off" th:field="*{mobile}"/>
        </label>
    </div>

    <div>
        <label> Patient Address : <input type="text" name="address" placeholder="Enter Address" required="true"
                                         class="input-group" autocomplete="off" th:field="*{address}"/>
        </label>
    </div>

    <div>
        <label> Patient Blood Group : <input type="text" name="bloodGroup" placeholder="Enter Blood Group" required="true"
                                             class="input-group" autocomplete="off" th:field="*{bloodGroup}"/>
        </label>
    </div>

    <div>
        <input type="submit" value="Save" class="btn btn-info"/>
        <a th:href="@{/dashboard}" class="btn btn-danger">BACK</a>
    </div>

</form>
</body>
</html>